@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <br>
        <center>
            <h1 class="display-3">Bienvenido <?php echo $nombreUsuario;?></h1>
            <p class="lead">USER FREE</p>
            <hr class="hr_mod">
        </center>
    </div>
</main>