@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="jumbotron">
        <br>
        <center>
            <h1 class="display-3">Bienvenido <?php echo $nombreUsuario;?></h1>
            <p class="lead">Usuario</p>
        </center>
    </div>
</main>

<h3>NUEVOS LIBROS</h3>
    <br />
    <div class="row">
        <div class="col-md-2 ">
            <div class="card card_carta bg-black">
                <img class="card-img-top" src="~/IMG/Mañosa.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">La Mañosa</h5>
                    <h6 class="card-text">Reservar</h6>
                    <p class="card-text">3 Disponibles</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card card_carta bg-black">
                <img class="card-img-top" src="~/IMG/Mañosa.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">La Mañosa</h5>
                    <h6 class="card-text">Reservar</h6>
                    <p class="card-text">3 Disponibles</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card card_carta bg-black">
                <img class="card-img-top" src="~/IMG/Mañosa.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">La Mañosa</h5>
                    <h6 class="card-text">Reservar</h6>
                    <p class="card-text">3 Disponibles</p>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="card card_carta bg-black">
                <img class="card-img-top" src="~/IMG/Mañosa.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">La Mañosa</h5>
                    <h6 class="card-text">Reservar</h6>
                    <p class="card-text">3 Disponibles</p>
                </div>
            </div>
        </div>
    </div>
    <br />
<br />
<br />

<h3>RECOMENDADOS</h3>
<div class="contenedor_info">
    <h4>CONTENIDO</h4>
</div>
<h3>RESERVADOS</h3>
<div class="contenedor_info">
    <h4>CONTENIDO</h4>
</div>
