@{
    ViewBag.Title = "Inicio";
}
<main>
    <div class="jumbotron">
        <br>
        <center>
            <h1 class="display-3">Bienvenido <?php echo $nombreUsuario;?></h1>
            <p class="lead">Administrador</p>
        </center>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="contenedor_info">
                <h4>Agregar Nuevos Libros</h4>
            </div>
            <div class="contenedor_info">
                <h4>Consultar Reservas</h4>
            </div>
            <div class="contenedor_info">
                <h4>Accesos Directos</h4>
            </div>
        </div>

        <div class="col-md-6">
            <div class="contenedor_info">
                <h4>Agregar Nuevos Libros</h4>
            </div>
            <div class="contenedor_info">
                <h4>Consultar Reservas</h4>
            </div>
            <div class="contenedor_info">
                <h4>Accesos Directos</h4>
            </div>
        </div>
    </div>


</main>